@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.root {
    -fx-off-white: #DCE5E8;
    -fx-light-blue: #81C4D6;
    -fx-blue: #007EA7;
    -fx-dark-blue: #102F4A;
    -fx-blackish: #191E21;
}

.label {
    -fx-font-family: "Poppins";
}

/*.button {*/
/*    -fx-font-family: "Poppins";*/
/*}*/

/*SIDEBAR FORMATTING*/

#sideBar {
    -fx-background-color: -fx-dark-blue;
}

#sideBar > .button {
    -fx-font-family: "Poppins";
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-off-white;
    -fx-graphic-text-gap: 8px;
    -fx-padding: 10px;
}

#sideBar > .button:hover {
    -fx-background-color: -fx-blue;
    -fx-underline: true;
}

#sideBar > .label {
    -fx-font-family: "Poppins";
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-off-white;
    -fx-padding: 10px;
}

/*CSVFileSaver*/

#csvFileSaver {
    -fx-font-family: "Poppins";
}