@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/*@font-face{*/
/*    !*-fx-font-family: Manrope;*!*/
/*    !*src: url('WebFont.eot');*!*/
/*    !*src: url('WebFont.eot?#iefix') format('embedded-opentype'),*!*/
/*    !*src: url(manrope-variablefont_wght-webfont.woff) format("woff"),*!*/
/*    !*url(Manrope-VariableFont_wght.ttf) format('truetype');*!*/
/*    !*url('WebFont.svg#webfont') format('svg');*!*/
/*}*/

.root {
    /*-fx-off-white: #F6F9FF;*/
    /*-fx-light-blue: #4E8FF8;*/
    /*-fx-navy-blue: #1D4E86;*/
    /*-fx-dark-blue: #2562A7;*/
    -fx-color-1: #F9FCFC;
    -fx-color-2: #B5CEE1;
    -fx-color-3: #5B819E;
    -fx-color-4: #365973;
    -fx-color-5: #8B8E8F;
    -fx-color-dirty: #c45454;
    -fx-color-clean: #6cc454;
    -fx-color-inuse: #dea51b;

    -fx-font-family: "Poppins";
}

.content-container > .label {
    -fx-font-family: "Oxygen";
    -fx-font-size: 20;
    -fx-text-fill: -fx-color-1;

}

.content-container > .button {
    -fx-font-family: "Oxygen";
    -fx-font-size: 18;
    -fx-background-color: -fx-color-4;
    -fx-text-fill: -fx-color-1;
    -fx-background-radius: 20px;
}

.content-container > .button:hover {
    -fx-font-family: "Oxygen";
    -fx-font-size: 18;
    -fx-background-color: -fx-color-1;
    -fx-text-fill: -fx-color-3;
}

.content-container > .text-field {
    -fx-font-family: "Oxygen";
    -fx-font-size: 18;
    -fx-background-color: -fx-color-1;
    -fx-text-fill: -fx-color-3;
}

.content-container > .combo-box {
    -fx-background-color: -fx-color-1;
    -jfx-focus-color: -fx-color-3;
    -jfx-unfocus-color: -fx-color-3;
    -fx-prompt-text-fill: -fx-color-5;
}

.content-container > .toggle-button {
    -fx-text-fill: -fx-color-1;
    -jfx-toggle-color: -fx-color-4;
    -jfx-untoggle-color: -fx-color-5;
    -jfx-toggle-line-color: -fx-color-2;
    -jfx-untoggle-line-color: -fx-color-1;

}

.content-container > .jfx-slider {
    -jfx-default-thumb: -fx-color-4;
    -jfx-default-track: -fx-color-1;
}

.content-background {
    -fx-background-color: -fx-color-3;
    -fx-background-radius: 50px;
    -fx-background-size: 50px;
}

.title-label {
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 48;
    -fx-text-fill: -fx-color-3;
}

.reset-button {
    -fx-font-family: "Oxygen";
    -fx-font-size: 20;
    -fx-background-color: -fx-color-2;
    -fx-text-fill: -fx-color-1;
    -fx-background-radius: 20px;
}

.submit-button {
    -fx-font-family: "Oxygen";
    -fx-font-size: 20;
    -fx-background-color: -fx-color-2;
    -fx-text-fill: -fx-color-1;
    -fx-background-radius: 20px;
}

/* LOGIN SCREEN */
#loginTitle {
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-text-fill: -fx-color-1;
    -fx-wrap-text: true;
}

#username {
    -fx-font-family: "Oxygen";
    -fx-font-size: 28;
    -fx-text-fill: -fx-color-3;
    -fx-prompt-text-fill: -fx-color-5;
}

#password {
    -fx-font-family: "Oxygen";
    -fx-font-size: 28;
    -fx-text-fill: -fx-color-3;
    -fx-prompt-text-fill: -fx-color-5;
}

#loginExitButton {
    -fx-font-family: "Oxygen";
    -fx-font-size: 28;
    -fx-background-color: -fx-color-4;
    -fx-text-fill: -fx-color-1;
    -fx-background-radius: 15px;
}

#loginExitButton:hover {
    -fx-font-family: "Oxygen";
    -fx-font-size: 28;
    -fx-background-color: -fx-color-1;
    -fx-text-fill: -fx-color-4;
}

#loginButton {
    -fx-font-family: "Oxygen";
    -fx-font-size: 28;
    -fx-background-color: -fx-color-4;
    -fx-text-fill: -fx-color-1;
    -fx-background-radius: 15px;
}

#loginButton:hover {
    -fx-font-family: "Oxygen";
    -fx-font-size: 28;
    -fx-background-color: -fx-color-1;
    -fx-text-fill: -fx-color-4;
}

#message {
    -fx-font-family: "Oxygen";
    -fx-font-size: 24;
    -fx-text-fill: -fx-color-1;
}

#dbText {
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-text-fill: -fx-color-1;
    -fx-wrap-text: true;
}

#optionEmbedded {
    -fx-font-family: "Oxygen";
    -fx-font-size: 24;
    -fx-text-fill: -fx-color-1;
    -jfx-selected-color : -fx-color-4;
    -jfx-unselected-color : -fx-color-1;
}

#optionClient {
    -fx-font-family: "Oxygen";
    -fx-font-size: 24;
    -fx-text-fill: -fx-color-1;
    -jfx-selected-color : -fx-color-4;
    -jfx-unselected-color : -fx-color-1;
}

#loginPane {
    -fx-background-image: url('../assets/Brigham-Womens-TO-USE-blur.jpg');
    -fx-background-size: cover;
}

#loginFields {
    -fx-background-color: -fx-color-3;
    /*-fx-border-radius: 20px;*/
    -fx-background-radius: 50px;
    -fx-background-size: 50px;
    /*-fx-border-radius: 50 50 50 50;*/
}
/*.label {*/
/*    -fx-font-family: "Corbel";*/
/*}*/

/*.button {*/
/*    -fx-font-family: "Franklin Gothic Book";*/
/*}*/

/*SIDEBAR FORMATTING*/

#sideBar {
    -fx-background-color: -fx-color-3;
}

#sideBar > .button {
    -fx-font-family: "Oxygen";
    -fx-font-size: 24;
    -fx-text-fill: -fx-color-1;
    -fx-graphic-text-gap: 8px;
    -fx-padding: 10px;
}

#sideBar > .button:hover {
    -fx-background-color: -fx-color-4;
}

#sideBar > .label {
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-fill: -fx-color-1;
    -fx-padding: 10px;
}

#userInfo {
    -fx-background-color: -fx-color-3;
}

#userInfo > .button {
    -fx-font-family: "Oxygen";
    -fx-font-size: 24;
    -fx-text-fill: -fx-color-1;
    -fx-graphic-text-gap: 8px;
    -fx-padding: 10px;
}

#userInfo > .button:hover {
    -fx-background-color: -fx-color-4;
    -fx-underline: true;
}

#userInfo > .label {
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-fill: -fx-color-1;
    -fx-padding: 10px;
}

/*CSVFileSaver*/

/*#csvSaverPane {*/
/*    -fx-background-color: -fx-off-white;*/
/*}*/

/*#csvFileSaver > .label {*/
/*    -fx-font-family: "Corbel";*/
/*    -fx-font-size: 96;*/
/*    -fx-text-fill: -fx-off-white;*/
/*    !*-fx-font-smoothing-type: gray;*!*/
/*}*/

/*#csvFileSaver > .button {*/
/*    -fx-font-family: "Corbel";*/
/*    -fx-font-size: 24;*/
/*    -fx-text-fill: -fx-off-white;*/
/*    -fx-background-color: -fx-light-blue;*/
/*}*/

/*#csvFileSaver > .button:hover {*/
/*    -fx-font-family: "Corbel";*/
/*    -fx-font-size: 24;*/
/*    -fx-text-fill: -fx-off-white;*/
/*    -fx-background-color: -fx-light-blue;*/
/*}*/

/*LANDING PAGE*/

#mainTitle {
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 48;
    -fx-text-fill: -fx-color-1;
}

#landingPagePane {
    -fx-background-color: -fx-color-4;
}

#landingPageScrollPane {
    -fx-background-color: -fx-color-4;
}

#landingPageStackPane {
    -fx-background-color: -fx-color-4;
}

/*#landingPageContent{*/
/*    -fx-background-color: -fx-navy-blue;*/
/*}*/

#landingPageBackground {
    -fx-background-color: -fx-color-1;
}

#landingPageContent > .label {
    -fx-font-family: "Poppins";
    -fx-font-size: 18;
    -fx-font-style: italic;
    -fx-text-fill: -fx-color-1;
}

#searchBarText {
    -fx-font-family: "Oxygen";
    -fx-font-size: 28;
    -fx-text-fill: -fx-color-1;
}

#landingPageContent > .button {
    -fx-font-family: "Oxygen";
    -fx-font-size: 28;
    -fx-text-fill: -fx-color-1;
}

#landingPageContent > .button:hover {
    -fx-font-family: "Oxygen";
    -fx-font-size: 28;
    -fx-text-fill: -fx-color-1;

}

#nameToggle {
    -fx-text-fill: -fx-color-1;
}

#amountAvailable {
    -fx-font-size: 16;
}

/*DASHBOARD*/

.dashboard-buttons {
    -fx-font-family: "Oxygen";
    -fx-font-size: 18;
    -fx-background-color: -fx-color-3;
    -fx-text-fill: -fx-color-1;
    -fx-background-radius: 10px;
}

.dashboard-buttons:hover {
    -fx-font-family: "Oxygen";
    -fx-font-size: 18;
    -fx-background-color: -fx-color-4;
    -fx-text-fill: -fx-color-1;
    -fx-background-radius: 10px;
}



.dashboard-level {
    -fx-background-radius: 10;
    -fx-background-color: -fx-color-3;
    -fx-border-radius: 10;
    -fx-border-color: -fx-color-3;
    -fx-border-width: 8;
}

.level-title-bar {
    -fx-fill: -fx-color-3;
    -fx-arc-height: 20px;
    -fx-arc-width: 20px;
}

.level-title {
    -fx-font-family: "Oxygen";
    -fx-font-size: 24;
    -fx-text-fill: -fx-color-1;
}

.dirty-count-bar {
    -fx-fill: -fx-color-dirty;
    -fx-arc-height: 15px;
    -fx-arc-width: 15px;
    -fx-effect:  dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.clean-count-bar {
    -fx-fill: -fx-color-clean;
    -fx-arc-height: 15px;
    -fx-arc-width: 15px;
    -fx-effect:  dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.inuse-count-bar {
    -fx-fill: -fx-color-inuse;
    -fx-arc-height: 15px;
    -fx-arc-width: 15px;
    -fx-effect:  dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.count-bar-text {
    -fx-font-family: "Oxygen";
    -fx-font-size: 16;
    -fx-fill: -fx-color-1;
}
.background-bar {
    -fx-background-color: -fx-color-5;
    -fx-background-radius: 10;
    -fx-border-width: 4;
    -fx-border-color: -fx-color-5;
    -fx-border-radius: 10;
}
.background-box{
    -fx-background-color: -fx-color-3;
    -fx-border-color: -fx-color-3;
    -fx-border-width: 95 95 90 50;
    -fx-background-radius: 30 0 0 30;
    -fx-border-radius: 30 0 0 30;
    -fx-effect:  dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}



